<p id="aboutText"><span id="aboutTitle">Flicker </span> let's you browse movies via the OMDB api. After creating an account or signing up via Facebook you can add movies you like to your profile, mark them as watched, or delete them if you so desire.</p>

<p id="myInfo"> - Flicker was built by Donnie Ellstrom at General Assembly Seattle</p>
