<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald|Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="img/png" href="/img/moviefav.png">
    <title>Flicker</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <p id="siteTitle">Flicker</p>
          </li>
          <li>
            <a href="/" >Search</a>
          </li>
          <% if(currentUser === undefined) { %>
            <li>
              <a href="/auth/login" >Login</a>
            </li>
            <li>
              <a href="/auth/signup">Signup</a>
            </li>
          <% } else { %>
            <li>
              <a href="user/profile">My Profile</a>
            </li>
            <li>
              <a href="/auth/logout">Logout</a>
            </li>
          <% } %>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
        <a href="#menu-toggle" class="btn btn-default glyphicon glyphicon-menu-hamburger" id="menu-toggle"><span id="menuText">Menu</span></a>
        <img id="omdbLogo" src="/img/omdb.png" alt="omdb logo">
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="container">
                <div class="alerter">
                  <% include partials/alerts %>
                </div>
                <div class="body-container">
                  <%- body %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script src="/js/main.js"></script>
    <script src="/js/alerts.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>

  <footer>
    <div class="flexboxFooter">
      <p class="footerText">Powered By:</p>
      <img id="express" src="/img/express.png" alt="Express Logo">
      <div class="divider"></div>
      <img id="node" src="/img/nodelogo.png" alt="Node Logo">
      <div class="divider"></div>
      <img id="heroku" src="/img/heroku.png" alt="Heroku Logo">
    </div>
  </footer>

</html>
